@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@600&display=swap');

h1{
    font-family:'Acme', sans-serif;
    margin: 0px;
    
}

.underline{
    width:60px;
    background-color: black;
    height:5px;
    margin-top: 1px;
    
}

.item{
    font-family: 'Montserrat';
    text-align: start;
    animation: slideInLeft;
    font-weight: 200;
}

img{
    width: 100%;
    max-width: 400px;
    height: 300px;
}

.mytitle{
    margin-top: 20px;
}

.myitem{
    height: 320px;
    border-radius: 40px;
    
}

.card-body{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: medium;
}

.btn-secondary{
    background-color: #e7016d;
}

.card-title{
    font-style: 'Montserrat';
    font-weight: 500;
    color: #e7016d;
}