.App {
  text-align: center;
}

p {
font-size: xx-large ;
}

.jumbotron{
background: black;
color: azure;
}

.particles{
 position: absolute;
    z-index: -1;
    top : 0;
    bottom : 0;
    width:100%;
    height: 100%;
}