.App {
  text-align: center;
}

.head {
font-size: xx-large ;
color: azure;
padding-bottom: 100px;
}
.display-3{
  padding-top: 200px;
  color: azure;
}

.jumbotron{
background: black;

}

.particles{
    position:absolute;
    top : 0;
    bottom : 0;
    width:100%;
    height: 100%;
    z-index: -1;
    /* background-color:#000000; */
    background: rgb(254,7,145);
    background: linear-gradient(90deg, rgba(254,7,145,1) 0%, rgba(241,137,137,1) 49%, rgba(88,224,251,1) 100%);
}

 .wrapper{
   
    position: relative;
    
  
 }

 .mybutton{

  padding-bottom: 200px;

 }

 .fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}


